*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/tools/python/__pycache__/

ffmpeg-gpu/libavfilter/cnpy
.vscode/
FFmpeg/
core
cv-cuda.zip
cv-cuda/
decinfer/
doc/Dockerfile
doc/rio_480_mask_10s.gif
doc/rio_640_mask_10s.gif
doc/rio_720_mask.gif
ffmpeg-gpu/.gitattributes
ffmpeg-gpu/.gitignore
ffmpeg-gpu/.gitmodules
ffmpeg-gpu/.mailmap
ffmpeg-gpu/.travis.yml
ffmpeg-gpu/.vscode/
# ffmpeg-gpu/3ddfa/801/
# ffmpeg-gpu/3ddfa/8203/
# ffmpeg-gpu/3ddfa/FaceBoxesProd.onnx
# ffmpeg-gpu/3ddfa/bfm_noneck_v3.onnx
# ffmpeg-gpu/3ddfa/mb1_120x120.onnx
# ffmpeg-gpu/AppEngineBuilder/
# ffmpeg-gpu/To4_jun_output.bmp
# ffmpeg-gpu/bgr_from_nv12.jpg
# ffmpeg-gpu/building.tif
# ffmpeg-gpu/core
# ffmpeg-gpu/debug_frames/
# ffmpeg-gpu/demo_JHH_3ddfa_out.mp4
# ffmpeg-gpu/demo_JHH_pose_out.mp4
# ffmpeg-gpu/ffmpeg_poses.npy
# ffmpeg-gpu/killer_noSR.nsys-rep
# ffmpeg-gpu/libavfilter/pose/libnpy/
# ffmpeg-gpu/nv-codec-headers/
# ffmpeg-gpu/nv-tensorrt-wrapper/
# ffmpeg-gpu/one_face_out.png
# ffmpeg-gpu/onnx_models/img2pose_v1_ft_300w_lp_static_nopost.onnx
# ffmpeg-gpu/onnx_models/optimized_img2pose_v1_ft_300w_lp_static_nopost.onnx
# ffmpeg-gpu/onnx_models/v57_str1_chshuffle_720_order.onnx
# ffmpeg-gpu/output/
# ffmpeg-gpu/scripts/
# ffmpeg-gpu/trt-wrapper-gitlab/
# ffmpeg-gpu/trt_engines/
ffmpeg-gpu/*.yuv
ffmpeg-gpu/*.png
ffmpeg-gpu/test_out
framework/bin/
framework/core
framework/gmon.out
framework/include/threadPool.h
framework/nsys_reports/
framework/sample/heifDec.cpp
framework/sample/nvJpegEnc.cpp
framework/src/NvCodec/bitstream.cu
framework/src/threadPool.cpp
framework/test_ref/
framework/vgcore.25602
framework/vgcore.25824
heif-sample.zip
heif-sample/
heif/
libtorch-cxx11-abi-shared-with-deps-1.11.0+cu113.zip
metrans-bytedance.zip
metrans-bytedance/
metrans/.gitignore
metrans/.git
pytorch/