*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/tools/python/__pycache__/

ffmpeg-gpu/libavfilter/cnpy
.vscode/
FFmpeg/
core
cv-cuda.zip
cv-cuda/
decinfer/
doc/Dockerfile
doc/rio_480_mask_10s.gif
doc/rio_640_mask_10s.gif
doc/rio_720_mask.gif
ffmpeg-gpu/.gitattributes
ffmpeg-gpu/.gitignore
ffmpeg-gpu/.gitmodules
ffmpeg-gpu/.mailmap
ffmpeg-gpu/.travis.yml
ffmpeg-gpu/.vscode/
ffmpeg-gpu/*.yuv
ffmpeg-gpu/*.png
ffmpeg-gpu/test_out
heif-sample.zip
heif-sample/
heif/
pytorch/

metrans-bytedance.zip
metrans-bytedance/
metrans/.gitignore
metrans/.git
metrans/build/*
!metrans/build/Makefile
!metrans/build/bunny.jpg
!metrans/build/bunny.mp4
!metrans/build/options.xml
!metrans/build/perf_data.xml
metrans/python/out.*
metrans/.vscode
metrans/*.qdrep
metrans/*.pyc
metrans/*.yuv
metrans/*.nv12
metrans/*.rgb*
metrans/*.h264
metrans/*.hevc
metrans/*.png
metrans/*.heic